@model Nop.Plugin.Misc.Suppliers.Models.ProductSupplierModel

<div class="form-group row">
	<div class="col-md-3">
		<label>Suppliers</label>
	</div>
	<div class="col-md-9">
		<div class="input-group">
			<select asp-for="SelectedSupplierIds" asp-items="Model.AvailableSuppliers" multiple="multiple"
					class="form-control" id="supplier-select" name="SelectedSupplierIds"></select>
			<div class="input-group-append">
				<button type="button" id="btnRefreshSuppliers" style="display: none"></button>
				<button type="button" id="btnAddNewSupplier"
						onclick="javascript:OpenWindow('@Url.Action("SupplierAddPopup", "Suppliers", new { btnId = "btnRefreshSuppliers", supplierIdsInput = "supplier-select" })', 800, 850, true);"
						class="btn btn-info">
					Add New
				</button>
			</div>
		</div>
		<span id="supplier-names">@string.Join(", ", Model.AvailableSuppliers.Where(x => x.Selected).Select(x => x.Text))</span>
		<input type="hidden" asp-for="ProductId" />
	</div>
</div>

<script>
	$(function() {
		$('#supplier-select').select2({
			closeOnSelect: false
		});

		$('#btnRefreshSuppliers').click(function() {
			loadSupplierFriendlyNames();
			return false;
		});

		$('#supplier-select').on('change', function() {
			loadSupplierFriendlyNames();
		});

		function loadSupplierFriendlyNames() {
			var selectedText = $('#supplier-select option:selected').map(function() {
				return $(this).text();
			}).get().join(', ');
			$('#supplier-names').text(selectedText);
		}
	});
</script>